// Estilos básicos
$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$code-font-stack: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;

body {
  margin: 20px;
  padding: 0;
  font-family: $font-stack;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: $code-font-stack;
}
